USE [FitnessLifeSO]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 01/01/2022 07:08:29 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 01/01/2022 07:08:29 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 01/01/2022 07:08:29 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 01/01/2022 07:08:29 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 01/01/2022 07:08:29 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 01/01/2022 07:08:29 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[ImagePath] [nvarchar](max) NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DietaDetalles]    Script Date: 01/01/2022 07:08:29 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DietaDetalles](
	[IdDietaDetalle] [int] IDENTITY(1,1) NOT NULL,
	[DiaSemana] [nvarchar](max) NOT NULL,
	[HoraComida] [nvarchar](max) NOT NULL,
	[Plato] [nvarchar](max) NOT NULL,
	[Porcion] [nvarchar](max) NOT NULL,
	[ImagePath] [nvarchar](max) NULL,
	[IdDieta] [int] NOT NULL,
 CONSTRAINT [PK_dbo.DietaDetalles] PRIMARY KEY CLUSTERED 
(
	[IdDietaDetalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dietas]    Script Date: 01/01/2022 07:08:29 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dietas](
	[IdDieta] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.Dietas] PRIMARY KEY CLUSTERED 
(
	[IdDieta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RutinaDetalles]    Script Date: 01/01/2022 07:08:29 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RutinaDetalles](
	[IdRutinaDetalle] [int] IDENTITY(1,1) NOT NULL,
	[DiaSemana] [nvarchar](max) NOT NULL,
	[Ejercicio] [nvarchar](max) NOT NULL,
	[Repeticiones] [nvarchar](max) NOT NULL,
	[ImagePath] [nvarchar](max) NULL,
	[IdRutina] [int] NOT NULL,
 CONSTRAINT [PK_dbo.RutinaDetalles] PRIMARY KEY CLUSTERED 
(
	[IdRutinaDetalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rutinas]    Script Date: 01/01/2022 07:08:29 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rutinas](
	[IdRutina] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.Rutinas] PRIMARY KEY CLUSTERED 
(
	[IdRutina] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[AspNetUsers] ([Id], [ImagePath], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'267797e6-12ea-488f-87f3-120dc4929d77', NULL, N'sebasgar11@gmail.com', 0, N'APabLEfJnk8KsUbBV6Qj5lD0gUrMI1gsGGWtNpgi67Z1lgU0TA04A9LDB7IJTvygzQ==', N'503b5626-8745-4e07-ad23-5b083cb95d73', NULL, 0, 0, NULL, 1, 0, N'sebasgar11@gmail.com')
INSERT [dbo].[AspNetUsers] ([Id], [ImagePath], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'a0e28ffd-fc43-4dd6-887b-9b3641a20b5c', NULL, N'ryuklight199@gmail.com', 0, N'AAUWUcPyYsDYjmU1D6BJOKZ7H7S0RHHGdroDTzczKZ4Usu+DtpMjKJM6oBQURfv3DQ==', N'98d9798e-4d13-4c4c-abb0-706a73a374ae', NULL, 0, 0, NULL, 1, 0, N'ryuklight199@gmail.com')
GO
SET IDENTITY_INSERT [dbo].[DietaDetalles] ON 

INSERT [dbo].[DietaDetalles] ([IdDietaDetalle], [DiaSemana], [HoraComida], [Plato], [Porcion], [ImagePath], [IdDieta]) VALUES (3, N'Lunes', N'Merienda', N'Huevos cocidos', N'200gr ', N'~/Image/huevos-cocidos213537060.jpg', 1)
INSERT [dbo].[DietaDetalles] ([IdDietaDetalle], [DiaSemana], [HoraComida], [Plato], [Porcion], [ImagePath], [IdDieta]) VALUES (6, N'Martes', N'Almuerzo', N'Omelette de jamón', N'420gr', NULL, 2)
INSERT [dbo].[DietaDetalles] ([IdDietaDetalle], [DiaSemana], [HoraComida], [Plato], [Porcion], [ImagePath], [IdDieta]) VALUES (11, N'Martes', N'Merienda', N'Papas fritas', N'240gr', NULL, 5)
SET IDENTITY_INSERT [dbo].[DietaDetalles] OFF
GO
SET IDENTITY_INSERT [dbo].[Dietas] ON 

INSERT [dbo].[Dietas] ([IdDieta], [Descripcion]) VALUES (1, N'Dieta hipocalorica')
INSERT [dbo].[Dietas] ([IdDieta], [Descripcion]) VALUES (2, N'Dieta proteica')
INSERT [dbo].[Dietas] ([IdDieta], [Descripcion]) VALUES (3, N'Dieta detox')
SET IDENTITY_INSERT [dbo].[Dietas] OFF
GO
SET IDENTITY_INSERT [dbo].[RutinaDetalles] ON 

INSERT [dbo].[RutinaDetalles] ([IdRutinaDetalle], [DiaSemana], [Ejercicio], [Repeticiones], [ImagePath], [IdRutina]) VALUES (2, N'Lunes', N'Zancada + salto', N'5x15 (series X repeticiones)', N'~/Image/zancada214422600.jpg', 2)
INSERT [dbo].[RutinaDetalles] ([IdRutinaDetalle], [DiaSemana], [Ejercicio], [Repeticiones], [ImagePath], [IdRutina]) VALUES (3, N'Lunes', N'Burpees', N'4x20 (series X repeticiones)', N'~/Image/Burpees-infografia-1-k0vH-U3028395032930xD-510x460@abc214521474.jpg', 2)
INSERT [dbo].[RutinaDetalles] ([IdRutinaDetalle], [DiaSemana], [Ejercicio], [Repeticiones], [ImagePath], [IdRutina]) VALUES (5, N'Miercoles', N'Press Banca Plano', N'4x10', N'~/Image/press-de-banca-con-barra-5740214808755.png', 1)
SET IDENTITY_INSERT [dbo].[RutinaDetalles] OFF
GO
SET IDENTITY_INSERT [dbo].[Rutinas] ON 

INSERT [dbo].[Rutinas] ([IdRutina], [Descripcion]) VALUES (1, N'Ganar masa muscular')
INSERT [dbo].[Rutinas] ([IdRutina], [Descripcion]) VALUES (2, N'Deficit calorico')
INSERT [dbo].[Rutinas] ([IdRutina], [Descripcion]) VALUES (3, N'Mejorar Rendimiento')
SET IDENTITY_INSERT [dbo].[Rutinas] OFF
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[DietaDetalles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.DietaDetalles_dbo.Dietas_IdDieta] FOREIGN KEY([IdDieta])
REFERENCES [dbo].[Dietas] ([IdDieta])
GO
ALTER TABLE [dbo].[DietaDetalles] CHECK CONSTRAINT [FK_dbo.DietaDetalles_dbo.Dietas_IdDieta]
GO
ALTER TABLE [dbo].[RutinaDetalles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.RutinaDetalles_dbo.Rutinas_IdRutina] FOREIGN KEY([IdRutina])
REFERENCES [dbo].[Rutinas] ([IdRutina])
GO
ALTER TABLE [dbo].[RutinaDetalles] CHECK CONSTRAINT [FK_dbo.RutinaDetalles_dbo.Rutinas_IdRutina]
GO
